.panelContainer {
  position: absolute;
  top: 90%;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.appCtrlBtnGroup {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(245, 245, 245);
}

.tpCtrlBtnGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  background-color: rgb(245, 245, 245);
}

.viewerCtrlBtnGroup {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(245, 245, 245);
}

/* styling for pop up menus */

.menuBody {
  position: fixed;
  top: 70%;
  left: 70%;
  background-color: #f9f9f9;
  height: 170px;
  width: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  opacity: 0.8;
  overflow: auto;
}

.menuRowContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.menuTitle {
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(64, 64, 64);
  font-weight: bolder;
  border-bottom: 1px solid #888;
  background-color: #f9f9f9;
}

.menuRow {
  padding: 20px; /* Increase padding for larger touch area */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #e0e0e0;
  color: #555;
  min-height: 16px; /* Ensure a minimum height for easier tapping */
  display: flex;
  align-items: center; /* Center content vertically for aesthetics */
  cursor: pointer; /* Provide visual feedback that the element is interactive */
}

.menuRow:active {
  background-color: #d3d3d3; /* Light grey background to indicate press */
  color: #333; /* Optionally change text color for better contrast */
  outline: none; /* Remove outline if any */
}

.selected {
  background-color: #aaaaaa;
  color: white;
  font-weight: bolder;
}